/* Set how much of the viewable space is taken up */
html,
body {
  height: 100vh;
  width: 100%;
  padding: 0px 0px 0px 0px;
}
body

.container-fluid{

    padding: 0px 0px 0px 0px;

}

#dashboard-title{
    background-color: black;
    color: white;
}

.dayforecast{

  background-color: blue;
  margin: 5px;
  padding: 5px;
  border: solid 1px black;
  color: white;
  font-size: 0.6em;
}

#city-form{

  font-size: 0.875em;
}

#prior-search-area{

border: 1px solid blue;
margin: 0px 25px 0px 25px;

}

hr{

  color: black;
}

label{

  margin: 0px 10px 0px 10px;
}

.h3{
  margin-top: 20px;
  margin-left: 20px;
}

#five-day{

  margin: 0px 0px 0px 10px;
}

